<!-- ko if: isDisplayed() -->
    <tr class="totals spaaza-loyalty incl">
        <th class="mark" scope="row" data-bind="text: getTitle()"></th>
        <td class="amount">
            <span class="price" data-bind="text: getValue(), attr:{'data-label': getTitle()}"></span>
        </td>
    </tr>
<!-- /ko -->